.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  z-index: 55;
  background-color: var(--light-color);
  &__wrapper {
    height: 56px;
    display: flex;
    align-items: center;
  }
}
.menu {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 28px;
  &__logo {
    margin-left: 87px;
    margin-right: auto;
  }
  &__list {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }
  &__item {
    margin-top: 5px;
  }
  &-social {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }
}
