// Объявление шрифтов и параметров контейнера
@mixin roboto-700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
@mixin roboto-400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  padding: 0 var(--content-offset);
  max-width: var(--container-width);
}

.body {
  @include roboto-400;
  color: var(--black-color);
  &_hidden {
    overflow: hidden;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.centered {
  text-align: center;
  margin: 0 auto;
}

// Общие стили

.link,
.title {
  @include roboto-700;
}

.link {
  line-height: 26px;
  color: var(--eerie-black-color);
}

.title {
  font-size: 36px;
  line-height: 42px;
}
