html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

main {
  flex-grow: 1;
}

input {
  border: none;
  outline: none;
}

textarea {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}
